<style>
/* panel for add text, image, etc. */
div.transbox {
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.9;
    position: fixed;
    /*margin: 30px 30px;*/
    width: 80%;
    heigh: 60px;
    top: 40%;
    /*bottom: 40%;*/
    left: 30px;
    /*right: 15px;*/
    z-index: 100;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    display: none;
}

div.transbox .giveup .copy-wrapper {
    position: absolute;
    /*margin: 30% 30%;*/
    width: 80%;
    heigh: 60px;
    top: 40%;
    /*bottom: 30%;*/
    left: 30px;
    /*right: 20px;*/
    overflow: auto;
    padding: 15px;
}

div.transbox .giveup div.button-opts {
    position: absolute;
    bottom: 20px;
    left: 30px;
}
</style>

<!-- Header -->
<header class="w3-container">
    <!--<a href="#"><img src="http://www.w3schools.com/w3css/img_avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>-->
    <h4 style="margin:10px;font-family:Tahoma, Geneva, sans-serif;">3/3: Your finished design</h4>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</header>

<!-- Grid -->
<div class="w3-row-padding" style="background: white;padding-top:30px;">
    <div class="w3-content w3-display-container" id="showpanel" style="width: 100%;" align="middle">
        {{#each imagelist}}
            <object id="svgObj-{{@index}}" class="mySlides" type="image/svg+xml" data="/designs/{{image}}"
                    style="width:100%; background-color: white;">
            </object>
        {{/each}}
    </div>
</div>
<div class="w3-row-padding" style="background: white;">
    <div class="w3-col m12 s12">
        <p align="center">
            <input type="hidden" id="saved_id" value="{{did}}"></input>
            <button type="button" id="play" style="height:10%;"
                    title=""
                    class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black"
                    onclick="pause();">
                <span style="font-size:24px;" class="glyphicon glyphicon-pause" aria-hidden="false"/>
            </button>
        </p>
    </div>
</div>
<div class="w3-row-padding" style="background: white;">
    <div class="w3-col m12 s12">
        <p align="center">
            <button type="button" id="gohomebutton" style="height:10%;"
                    title=""
                    class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black"
                    onclick="showForm();"><b>START OVER</b></button>
        </p>
    </div>
</div>

<div class="w3-row-padding" style="background: white;">
<div class="w3-col m12 s12">
<div class="transbox" id="giveup">
    <div align="right" class="close"><span class="glyphicon glyphicon-remove" onclick="hideForm('giveup')"></span></div>
    <div style="display: block; margin: 20px;">
        <div class="copy-wrapper">
            <p>Are you sure you want to give up this design and start a new one? The design can NOT be recovered if you click YES button.</p>
        </div>
        <div class="button-opts">
            <a id="btnYES" href="#" onclick="giveupDesign();" class="btn btn-primary">YES</a>
            <a id="btnNO" href="#" onclick="hideForm()" class="btn btn-default">NO</a>
        </div>
    </div>
</div>
</div>
</div>

{{#section 'jquery'}}
    <script>
        //console.log("label saved_id:" + document.getElementById("saved_id").value);
        $(document).ready(function () {
            changeIframeHeight();
        });
        // get dwww from query parameter or session
        var dwww = getParameterByName("dwww");
        if (dwww !== null && dwww !== undefined)
            sessionStorage.dwww = dwww;
        else
            dwww = sessionStorage.dwww;
        if (dwww === null)
            dwww = "";
        var isPause = 0;
        function getWidth() {
//            return "100%";
            var w = $(window).width();
            var h = $(window).height() - 45;
            if (w / h > 1.6) {
                return "";
            }
            else {
                w = w-50;
                return w + "px";
            }
        }
        function getHeight() {
//            return "80%";
            var w = $(window).width();
            var h = $(window).height() - 45;
            if (w / h < 1.6) {
                return "100%";
            }
            else {
                h=h-150; // excluding two buttons
                return h + "px";
            }
        }
        function pause() {
            var ele = document.getElementById("play");
            ele.onclick = play;
            ele.innerHTML = '<span style="font-size:24px;" class="glyphicon glyphicon-play" aria-hidden="false"></span>';
            isPause = 1;
        }
        function play() {
            var ele = document.getElementById("play");
            ele.onclick = pause;
            ele.innerHTML = '<span style="font-size:24px;" class="glyphicon glyphicon-pause" aria-hidden="false"></span>';
            isPause = 0;

            carousel();
        }
        var slideIndex = 0;

        carousel();
        function carousel() {
            if (isPause === 1)
                return;
            var x = document.getElementsByClassName("mySlides");
            slideIndex++;
            if (slideIndex > x.length) {
                slideIndex = 1
            }
            var i;
            for (i = 0; i < x.length; i++) {
                if (i === slideIndex - 1) {
//                    console.log("width:"+getWidth());
                    x[slideIndex - 1].style.width = "100%";//getWidth();
                    x[slideIndex - 1].style.height = ""; //getHeight();
                }
                else {
                    x[i].style.width = "0%";
                    x[i].style.height = "0%";
                }
            }
            if (isPause === 0)
                setTimeout(carousel, 1000); // Change image every 2 seconds
        }

        var did = document.getElementById("saved_id").value;
        if (dwww === "www") {
            parent.postMessage(did, "https://www.jitdiy.com");
        }
        else {
            parent.postMessage(did, "https://jitdiy.com");
        }

        function giveupDesign() {
            hideForm();
            tid = did.substring(did.indexOf('-') + 1);
            pid = tid.substring(0, 7);
            var listUrl = "//design.jitdiy.com/design/templatelist/" + pid + "?dwww=" + dwww;
            window.location.href = listUrl;
        }
        function showForm() {
            document.getElementById('giveup').style.display = "inline";
        }
        function hideForm() {
            document.getElementById('giveup').style.display = "none";
        }
    </script>
{{/section}}