<!-- Header -->
<header class="w3-container">
    <!--<a href="#"><img src="http://www.w3schools.com/w3css/img_avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>-->
    <h4 style="margin:10px;font-family:Tahoma, Geneva, sans-serif;">3/3: Your finished design</h4>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</header>

<!-- Grid -->
<div class="w3-content w3-display-container">
    <img style="width:0px;height:0px;">
    {{#each imagelist}}
        <object id="svgObj-{{@index}}" class="mySlides" type="image/svg+xml" data="/designs/{{image}}"
                style="width:100%; background-color: white;">
        </object>
    {{/each}}

    <img style="width:0px;height:0px;">
</div>
<hr/>
<div class="w3-content w3-display-container">
    <a id="play" class="w3-display-bottommiddle" onclick="pause()">
        <span style="font-size:24px;padding:10px;margin-bottom:10px;" class="glyphicon glyphicon-pause" aria-hidden="false"></span></a>
</div>
<br/>
<div class="w3-content w3-display-container">
    <p>Understandably, due to the personalized nature of our products, we are unable to offer refunds/exchanges. We
        will, however, gladly replace any product that arrives damaged or defective (not including personalization).
        Claims for damaged merchandise must be made via email or telephone within seven days of receipt of item.
        Customer, at our discretion, may be required to send photos of product, or, return product so we may verify
        damage. Return shipping cost is at the expense of the buyer and may not be reimbursed by JITDIY.</p>
</div>
{{#section 'jquery'}}
    <script>
        var imageIndex = 0;
        var isPause = 0;
        //        showImage(imageIndex);

        function showImage(n) {
            console.log("showImage:" + n);
            imageIndex = n;

            count = 0;
            do {
                var i = document.getElementById("icon-" + count);
                if (i === null || i === undefined)
                    break;
                if (count === n) {
                    i.style.borderColor = "darkgrey";
                    i.style.borderWidth = "4px";
                    document.getElementById("svgObj-" + count).style.width = "100%";
                }
                else {
                    i.style.borderWidth = "0px";
                    document.getElementById("svgObj-" + count).style.width = "0%";
                }
                count++;
            } while (true);
        }

        function pause() {
            var ele = document.getElementById("play");
            ele.onclick = play;
            ele.innerHTML = '<span style="font-size:24px;padding:10px;" class="glyphicon glyphicon-play" aria-hidden="false"></span>';
            isPause = 1;
        }
        function play() {
            var ele = document.getElementById("play");
            ele.onclick = pause;
            ele.innerHTML = '<span style="font-size:24px;padding:10px;" class="glyphicon glyphicon-pause" aria-hidden="false"></span>';
            isPause = 0;
            carousel();
        }
        var slideIndex = 0;
        //        showDivs(slideIndex);
        carousel();

        //        function plusDivs(n) {
        //            showDivs(slideIndex += n);
        //        }
        //
        //        function showDivs(n) {
        //            var i;
        //            var x = document.getElementsByClassName("mySlides");
        //            if (n > x.length) {slideIndex = 1}
        //            if (n < 1) {slideIndex = x.length}
        //            for (i = 0; i < x.length; i++) {
        //                if (i === slideIndex-1) {
        //                    console.log("show "+i);
        //                    x[slideIndex-1].style.width = "100%";
        //                    x[slideIndex-1].style.height = "100%";
        //                }
        //                else {
        //                    x[i].style.width = "0%";
        //                    x[i].style.height = "0%";
        //                }
        //            }
        //        }
        function carousel() {
            if (isPause === 1)
                return;
            var x = document.getElementsByClassName("mySlides");
            slideIndex++;
            if (slideIndex > x.length) {
                slideIndex = 1
            }
            var i;
            for (i = 0; i < x.length; i++) {
                if (i === slideIndex - 1) {
//                    console.log("show "+i);
                    x[slideIndex - 1].style.width = "100%";
                    x[slideIndex - 1].style.height = "100%";
                }
                else {
                    x[i].style.width = "0%";
                    x[i].style.height = "0%";
                }
            }
            if (isPause === 0)
                setTimeout(carousel, 1000); // Change image every 2 seconds
        }
    </script>
{{/section}}