<!-- Header -->
<header class="w3-container">
    <!--<a href="#"><img src="http://www.w3schools.com/w3css/img_avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>-->
    <h4 style="margin:10px;font-family:Tahoma, Geneva, sans-serif;">3/3: Your finished design</h4>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</header>

<!-- Grid -->
<div class="w3-row">
    <div class="w3-col 16 s12" align="middle">
        <div style="background-color: white">
            <div class="w3-content w3-display-container">
                <div class="w3-content w3-display-container" id="showpanel" style="height: 80%; vertical-align: middle;">
                    <img style="width:0px;height:0px;">
                    {{#each imagelist}}
                        <object id="svgObj-{{@index}}" class="mySlides" type="image/svg+xml" data="/designs/{{image}}"
                                style="width:100%; background-color: white;">
                        </object>
                    {{/each}}

                    <img style="width:0px;height:0px;">
                </div>

                <div class="w3-content w3-display-container">
                    <input type="hidden" id="saved_id" value="{{did}}"></input>
                    <a id="play" class="w3-display-middle" onclick="pause()">
                        <span style="font-size:24px;padding:10px;margin:10px;" class="glyphicon glyphicon-pause"
                              aria-hidden="false"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{#section 'jquery'}}
    <script>
        console.log("label saved_id:"+document.getElementById("saved_id").value);
        var isPause = 0;
        function getWidth() {
            var w = $(window).width();
            var h = $(window).height() - 45;
            if (w/h > 1.6) {
                return "";
            }
            else if (w < 600) {
                return w+"px";
            } else {
                return "600px";
            }
        }
        function getHeight() {
            var w = $(window).width();
            var h = $(window).height() - 45;
            if (w/h < 1.6) {
                return "";
            }
            else if (h > 475) {
                return "475px";
            }
            else {
                return h+"px";
            }
        }
        function pause() {
            var ele = document.getElementById("play");
            ele.onclick = play;
            ele.innerHTML = '<span style="font-size:24px;padding:10px;" class="glyphicon glyphicon-play" aria-hidden="false"></span>';
            isPause = 1;
        }
        function play() {
            var ele = document.getElementById("play");
            ele.onclick = pause;
            ele.innerHTML = '<span style="font-size:24px;padding:10px;" class="glyphicon glyphicon-pause" aria-hidden="false"></span>';
            isPause = 0;

            carousel();
        }
        var slideIndex = 0;

        carousel();
        function carousel() {
            if (isPause === 1)
                return;
            var x = document.getElementsByClassName("mySlides");
            slideIndex++;
            if (slideIndex > x.length) {
                slideIndex = 1
            }
            var i;
            for (i = 0; i < x.length; i++) {
                if (i === slideIndex - 1) {
                    x[slideIndex - 1].style.width = getWidth();
                    x[slideIndex - 1].style.height = getHeight();
                }
                else {
                    x[i].style.width = "0%";
                    x[i].style.height = "0%";
                }
            }
            if (isPause === 0)
                setTimeout(carousel, 1000); // Change image every 2 seconds
        }
        var did = document.getElementById("saved_id").value;
        parent.postMessage(did,"https://www.jitdiy.com");
    </script>
{{/section}}