<!-- Header -->
<header class="w3-container">
    <h3 style="margin:10px;"><b>Your custom product</b></h3>
</header>

<!-- Grid -->
<div class="w3-row">

    <div class="w3-col">
        <div class="w3-container w3-margin w3-margin-top">
            <object type="image/svg+xml" data="http://localhost:3000/designs/{{did}}" style="width:100%">
                <!--<object type="image/svg+xml" data="http://localhost:3000/designs/1471972540789.svg" style="width:100%">-->
                Your browser does not support SVG
            </object>
        </div><hr>
    </div>

</div>
