<!-- Header -->
<header class="w3-container">
    <!--<a href="#"><img src="http://www.w3schools.com/w3css/img_avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>-->
    <h3 style="margin:10px;"><b>Design for {{did}}</b></h3>
</header>

<!-- Grid -->
<div class="w3-row">

    {{#each imagelist}}
        <div class="w3-topbar w3-bottombar w3-border-blue">
                <a href="/designs/{{image}}"><b>--></b> 点击链接下载图片打印</a>
                <div>
                    <object id="svgO-{{@index}}" type="image/svg+xml" data="/designs/{{image}}"
                            style="width:100%">
                        Your browser does not support SVG
                    </object>
                </div>
                <!--<img src="" style="width:100%;height:0px;"/>-->
        </div>
    {{/each}}
</div>
