<!-- Header -->
<header class="w3-container">
    <!--<a href="#"><img src="http://www.w3schools.com/w3css/img_avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>-->
    <!--<span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>-->
    <h4 style="margin:10px;font-family:Tahoma, Geneva, sans-serif;">1/3: Please choose a template</h4>
</header>


<div class="w3-row-padding" style="background-color: white;">
{{#each templates}}
    <div class="w3-third w3-container w3-margin-bottom">
        <a href="/design/personalize/{{tid}}"><img src="/designs/templates/{{tid}}.gif" alt="{{name}}" style="width:100%" class="w3-hover-opacity"></a>
    </div>
{{/each}}
</div>
<script>
    if (getParameterByName("dwww") !== null)
        sessionStorage.dwww = getParameterByName("dwww");
    if (getParameterByName("prdname") !== null)
        sessionStorage.prdname = getParameterByName("prdname");
</script>
